<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="https://https://user.x-bot.fr/" />
    <title>X-BOT • Whois Discord Users</title>
    <meta name="description" content="Obtenez des informations sur un utilisateur ou bot Discord par ID ou token.">
    <meta name="keywords" content="discord, bot, français, whois, xbot, x-bot, x-bot_v2" />
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <link rel="icon" type="image/png" href="https://x-bot.fr/img/whois.png" />
    <meta name="twitter:url" content="https://https://user.x-bot.fr/">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@X_Developpment" />
    <meta name="twitter:title" content="X-BOT • Whois Discord Users" />
    <meta name="twitter:description" content="Obtenez des informations sur un utilisateur ou bot Discord par ID ou token." />
    <meta name="twitter:image" content="https://x-bot.fr/img/whois.png" />
    <meta name="theme-color" content="#7289da">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- JS -->
    <script src="/js/JQuery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-none">
            <div class="d-flex justify-content-center align-items-center">
            </div>
        </nav>
    </div>